.painel-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    .form-toggle {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
  
      button {
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
  
        &.active {
          background-color: #13131F;
          color: #fff;
        }
      }
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      h2 {
        margin-bottom: 20px;
        font-size: 24px;
      }
  
      input {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
  
      .btn-submit {
        padding: 10px;
        background-color: #13131F;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #33334d;
        }
      }
  
      .error {
        color: #ff4d4d;
        font-size: 14px;
        margin-top: 10px;
      }
  
      .success {
        color: #28a745;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  