.screen-admin-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.chamados-list {
    list-style: none;
    padding: 0;
}

.chamado-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    h3 {
        margin-top: 0;
        color: #333;
    }

    p {
        margin: 5px 0;
        color: #555;
    }
}